.nav-link {
  font-weight: bolder;
}

.paso {
  margin-top: 30px;
}

.tituloPaso {
  background-color: #17a2b8;
  font-size: x-large;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

#imagenAHH {
  background-color: gray;
}

descripcionFiltro {
  font-weight: 600;
  color: gray;
  font-size: 1.2em;
}

tituloFiltro {
  font-weight: bolder;
  color: black;
  font-size: 1.5em;
}

.form-group,
.formularioGenerico {
  margin: 15px;
  margin-top: 8px;
}

.formularioGenerico2 {
  margin: 15px;
  margin-top: 15px;
}

strongCriollo {
  font-weight: bolder;
  color: gray;
  cursor: pointer;
}
